.bg-my{
    background-image: url(./public/slider-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

@media (max-width: 768px) {
    .bg-my {
      background-position: 60% center;
    }
  }